body{
    /* background-image: url("../img/vivid-blurred-colorful.jpg"); */
    background-color: #49b0ff;
    background-size: cover;
}
.about_title{
  border-bottom: 2px solid #983423;
}
.card_link{
  color: #983423;
 text-decoration: none;
}
.card{
  display: flex;
  position: relative;
  width: 50%;
  padding: 20px;
}
.card span{
  font-size: 12px;
}
.card_img{
  display: inline-block;
    position: relative;
    width: 50%;
    height: 125px;
    border-radius: 25px;
    transition: 0.5s;
}
.card_img:hover{
  box-shadow: 0px 0px 9px 0px #000000f2;
}
.btn1{
  background-color: black;
  color: white;
  border-radius: 5px;
}

/* navigation menu */



.menu{
  position: fixed;
  bottom: 0px;
  background: #f4f4f4;
  width: 100%;
  text-align: center;
  min-height: 50px;
  background-color: #13518b;
}
.menu ul{
  list-style-type: none;
    padding-top: 8px;
    overflow: auto;
    margin-bottom: 0px;
    padding-left: 0px;
    display: block;
    
}
.menu ul li{
  display: inline-block;
    text-align: center;
    padding: 0px 5px;
    max-width: 80px;
}
.menu ul li a{
  display: inline-block;
  position: relative;
  text-align: center;
  color: #FFF;
  text-decoration: none;
}
.menu  li:hover{
  background-color: #efefef0f;
  font-size: 17px;
}

.card_product{
      display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}
.card-title{
  border-bottom: #fa1717;
}
.btn-buy{
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.card {
  width: 350px;
  background-color: #efefef;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}
.image{
  padding: 30px;
}
.image img {
  transition: all 0.5s
}
.btn {
  height: 140px;
  width: 140px;
  border-radius: 50%
}
.name {
  font-size: 22px;
  font-weight: bold
}
.idd {
  font-size: 14px;
  font-weight: 600
}
.idd1 {
  font-size: 12px
}
.number {
  font-size: 22px;
  font-weight: bold
}
.follow {
  font-size: 12px;
  font-weight: 500;
  color: #444444
}
.btn1 {
  height: 40px;
  width: 150px;
  border: none;
  background-color: #000;
  color: #aeaeae;
  font-size: 15px
}
.text span {
  font-size: 13px;
  color: #545454;
  font-weight: 500
}
.icons i {
  font-size: 19px
}
hr .new1 {
  border: 1px solid
}
.join {
  font-size: 14px;
  color: #a0a0a0;
  font-weight: bold
}
.date {
  background-color: #ccc
} 
@media only screen and (max-width: 600px){
  .menu ul{
    display: flex;
  }
}
@media only screen and (min-width: 600px) and (max-width:800px){
  .menu ul {
    display: flex;
  }
}